# directories
.git
.nyc_output
.vscode
coverage
docker
node_modules
scripts

# root files
.dockerignore
.DS_Store
.gitignore
.markdownlint.json
.nvmrc
.nycrc
Dockerfile
Makefile
yarn.lock

# wildcards
*.yaml
**/*.md
**/*.log
**/*.sh
